<div class="about-network">

	<section class="abtTopSec">
		<div class="antop-box">
			<div class="downAniCont mobHide"><img style="filter: invert(100%);" src="images/aerrow.png" alt=""><span>SCROLL</span></div>
			<div class="downAniCont mobShow"><img src="images/aerrow.png" alt=""><span>SCROLL</span></div>
			<div class="vidBg" style="background: transparent; z-index: 0;pointer-events: none;">
				<!-- <div id="vdosInt" class="mobHide"></div> -->
				<div class="vidBGYT mobHide" style="height: {{pHigh}}px;width: {{pWid}}px;">
					<youtube-video ng-if="enableYT" player-vars="playerVars" player="bestPlayer" video-id="theBestVideo" player-width="'100%'" player-height="'100%'" ></youtube-video>
				</div>
				<img src="images/mbAbtBg.png" alt="" class="mobShow">
			</div>
			
		</div>

		<div class="nwklist">
			
			<div class="overflow" id="a1" style="overflow: hidden">
				<ul>
					
					<li><a href="https://www.cnbc.com/india/" target="_blank"><img  src="images/logo03.png" alt="" /></a></li>
					<li><a href="www.moneycontrol.com/cnbctv18" target="_blank"><img src="images/logo06.png" alt="" /></a></li>

					<li><a href="http://hindi.moneycontrol.com/tv/" target="_blank"><img  src="images/logo04.png" alt="" /></a></li>
					<li><a href="http://www.moneycontrol.com/tv/" target="_blank"><img src="images/logo05.png" alt="" /></a></li>
					
					<li><a href="http://www.news18.com/livetv/" target="_blank"><img src="images/logo01.png" alt="" /></a></li>
					<li><a href="https://hindi.news18.com/livetv/" target="_blank"><img src="images/logo02.png" alt="" /></a></li>

					
					<li class="noMarg"><a href="http://www.viacom18.com/colors-bangla-2/"" target="_blank"><img src="images/logoU1.gif" alt="" /></a></li>
					<li class="noMarg"><a href="http://www.viacom18.com/colors_gujarati" target="_blank"><img src="images/logoU2.gif" alt="" /></a></li>
					<li class="noMarg"><a href="https://hindi.news18.com/livetv/etv-haryana/" target="_blank"><img src="images/logoU3.gif" alt="" /></a></li>
					<li class="noMarg"><a href="http://www.news18odia.com/" target="_blank"><img src="images/logoU4.gif" alt="" /></a></li>

					
					<li><a href="#" target="_blank"><img src="images/logo09.png" alt="" /></a></li>
					<li><a href="#" target="_blank"><img src="images/logo10.png" alt="" /></a></li>
					<li><a href="#" target="_blank"><img src="images/logo11.png" alt="" /></a></li>
			

					<li class="noMarg"><a href="http://www.moneycontrol.com/" target="_blank"><img src="images/logoU5.gif" alt="" /></a></li>
					<li class="noMarg"><a href="http://www.firstpost.com/" target="_blank"><img src="images/logoU6.gif" alt="" /></a></li>
					<li class="noMarg"><a href="http://www.news18.com/" target="_blank"><img src="images/logoU7.gif" alt="" /></a></li>
					<li class="noMarg"><a href="http://www.forbesindia.com/" target="_blank"><img src="images/logoU8.gif" alt="" /></a></li>
					<li class="noMarg"><a href="http://overdrive.in/" target="_blank"><img src="images/logoU9.gif" alt="" /></a></li>
					<li class="noMarg"><a href="www.betterinteriors.in" target="_blank"><img src="images/logoU10.gif" alt="" /></a></li>
					<li class="noMarg"><a href="http://betterphotography.in/" target="_blank"><img src="images/logoU11.png" alt="" /></a></li>
					
				</ul>
			</div>
		</div>
	</section>
	<div class="abtCont">
		<div class="contentTextMain">
			<div class="abTcIn">
				<h1 class="mobHide">Presence Across <br/>Variegated Media Platforms</h1>
				<h1 class="mobShow">Presence Across <br/>Variegated<br/>Media Platforms</h1>
				<h2 class="mobHide">Our media assets reach out to affluent Indians across top cities <br/>to aspiring middle class of the country</h2>
				<h2 class="mobShow">Our media assets reach out to affluent Indians across top cities to aspiring middle class of the country</h2>
			</div>
		</div>
		<div class="abtImgCont">
			<div class="abtImg" >
				<div class="abtImgTop" du-parallax y="transY">
					<div>
						<img src="images/TELEVISION_R.png" alt="">
						<span></span>
					</div>
				</div>
				<div class="abtImgBot" >
					<div class="abtImgLogoCont" du-parallax y="transY">
						<a href="https://www.cnbc.com/india/" target="_blank"><img style="max-height: 47%;" src="images/logo03.png" alt="" /></a>
						<!-- <a href="www.moneycontrol.com/cnbctv18" target="_blank"><img src="images/logo06.png" alt="" /></a> -->
						<a href="http://hindi.moneycontrol.com/tv/" target="_blank"><img style="max-height: 56%;" src="images/logo04.png" alt="" /></a>
						<a href="http://www.moneycontrol.com/tv/" target="_blank"><img src="images/logo05.png" alt="" /></a>
						<a href="http://www.news18.com/livetv/" target="_blank"><img src="images/logo01.png" alt="" /></a>
						<a href="https://hindi.news18.com/livetv/" target="_blank"><img src="images/logo02.png" alt="" /></a>
						<a href="https://hindi.news18.com/livetv/" target="_blank"><img src="images/ETV.gif" alt="" /></a>
					</div>
					<div class="abtImgTxt" du-parallax y="transY">TV is one of the most influential medium to reach Indian customers. Pay TV base in India expected to be 175 mnby 2020 with a penetration of 87% of Total TV Households. HD Subscriber base is estimated to double between 2016 to 2020 from 8 Mnto 16 Mn. Network18’s TV properties range across national to regional channels influencing various customer segments across Tier I to Tier III parts of India. </div>
				</div>
				<!-- <img src="images/tv.png" alt=""> -->
			</div>
			<div class="abtImg" >
				<div class="abtImgTop" du-parallax y="transY">
					<div>
						<img src="images/DIGITAL_R.png" alt="">
						<span></span>
					</div>
				</div>
				<div class="abtImgBot" >
					<div class="abtImgLogoCont" du-parallax y="transY">
						<a href="http://www.moneycontrol.com/" target="_blank"><img src="images/logoU5.gif" alt="" /></a>
						<a href="http://www.firstpost.com/" target="_blank"><img src="images/logoU6.gif" alt="" /></a>
						<a href="http://www.news18.com/" target="_blank"><img src="images/logoU7.gif" alt="" /></a>
					</div>
					<div class="abtImgTxt" du-parallax y="transY">With the rising smartphone penetration; Digital platforms are becoming an unavoidable tool for customers to bring more information and convenience. Network18’s <br>digital media assets <br>have become one of the most credible platforms over time and hence they prove to be a brilliant tool for advertisers to influence customers’ purchase decisions </div>
				</div>
				<!-- <img src="images/digital.png" alt=""> -->
			</div>
			<div class="abtImg" >
				<div class="abtImgTop" du-parallax y="transY">
					<div>
						<img src="images/magazines.png" alt="">
						<span></span>
					</div>
				</div>
				<div class="abtImgBot" >
					<div class="abtImgLogoCont" du-parallax y="transY">
						<a href="http://www.forbesindia.com/" target="_blank"><img src="images/logoU8.gif" alt="" /></a>
						<a href="http://overdrive.in/" target="_blank"><img src="images/logoU9.gif" alt="" /></a>
						<a href="www.betterinteriors.in" target="_blank"><img src="images/logoU10.gif" alt="" /></a>
						<a href="http://betterphotography.in/" target="_blank"><img src="images/logoU11.png" alt="" /></a>
					</div>
					<div class="abtImgTxt" du-parallax y="transY">Network18’s magazines cater to the influencers, decision makers and connoisseurs within their respective categories. They are thought leaders in content and create the next conversation starters <br>among the key influencers. segments across Tier I to Tier III parts of India. segments across Tier I to Tier III parts of India. segments across Tier I to Tier III parts of India. </div>
				</div>
				<!-- <img src="images/publishing.png" alt=""> -->
			</div>
		</div>
	</div>
	

	<footer>
		<div class="footerIcon">
			<img src="images/18.png" alt="">
			<span></span>
		</div>
		<div class="finner">
			<div class="flinks mobHide">
				<a ng-click="beforeNav()" href="/aboutN18">Network18</a>
				<a ng-click="beforeNav()" href="/whyCapital18">capital18</a>
				<a ng-click="beforeNav()" href="/vertical">SECTORS</a>
				<a ng-click="beforeNav()" href="/client">PORTFOLIO</a>
				<a ng-click="beforeNav()" href="/team">Team</a>
				<a ng-click="beforeNav()" href="/contact">contact us</a>
			</div>
			<div class="bshare-box mobShow">
				<div class="inner">
					<a href="#"><i class="fa fa-linkedin "></i></a>
					<a href="#"><i class="fa fa-twitter "></i></a>
					<a href="#"><i class="fa fa-facebook "></i></a>
				</div>
			</div>
			<div class="cright mobHide">© 2015 network18 ALL RIGHTS RESERVED. PRIVACY AND TERMS </div>
			<p class="mobHide">REGISTERED OFFICE  First Floor, Empire Complex, 414 Senapati Bapat Marg, Lower Parel, Mumbai-400013, Maharashtra <br>
				Phone: 011 41506112 / 41506114 Fax: 011 41506112 / 41506114</p>

			<p class="mobHide">CORPORATE OFFICE Express Trade Towers, Plot No. 15 & 16, Sector 16A, Noida, Uttar Pradesh 201 301, India. <br>Phone: 0120 - 4341818 / 0120 - 3987777 Fax: 01203053860</p>


			<p class="mobShow"><b>REGISTERED OFFICE</b>  First Floor, Empire Complex, 414 Senapati Bapat Marg, Lower Parel, Mumbai, Maharashtra 400013<br>
				Phone: 011 41506112 / 41506114</p>

			<p class="mobShow"><b>CORPORATE OFFICE</b> Express Trade Towers, Plot No. 15 & 16, Sector 16A, Noida, Uttar Pradesh 201301 <br>Phone: 0120 - 4341818 / 0120 - 3987777</p>
			<p>© 2015 NETWORK18 ALL RIGHTS RESERVED. PRIVACY AND TERMS</p>
		</div>

	</footer>


</div>


<script>
	$(document).ready(function() {
		$('.comonbox').fadeIn(1000);
		$(window).unbind('scroll');
		$(document).unbind("mousewheel DOMMouseScroll MozMousePixelScroll");
		
		$(window).bind('scroll');
		$("#a1").scrollForever({continuous:true,num:20});
		var maxH = $( window ).height();
		var maxW = $( window ).width();
		$(window).scroll(function () {
			
			if($(this).scrollTop()>=400){
				$('.imgContPno').removeClass('whiten');
				$('.share-pno').children('.share-box').removeClass('whiten').css({
					marginBottom: 0,
				});
				$('.pno').css({
					marginBottom: 0,
				});
			}
			if($(this).scrollTop()>=(maxH/3)){
				$('.abTcIn').addClass('transY');
			}
			if($(this).scrollTop()>=maxH && maxW>1000){
				$('.abtImg').addClass('transY');
			}
			if($(this).scrollTop()<maxH && maxW>1000){
				$('.abtImg').removeClass('transY');
			}
			if($(this).scrollTop()<(maxH/2)){
				$('.abTcIn').removeClass('transY');
			}
			if($(this).scrollTop()<400){
				$('.imgContPno').addClass('whiten');
				$('.share-pno').children('.share-box').addClass('whiten').css({
					marginBottom: 100,
				});
				$('.pno').css({
					marginBottom: 100,
				});
			}
		});
		function myFunction04() {
		    setTimeout(function(){
			    // $('.white-slide').addClass('addclass');	
			    $('.about-network').fadeIn(1000);
			    $('.outerbox').fadeOut();
			    $('.share-pno').addClass('btm');
			    $('.pcake-menue-box').addClass('bfor');
				$('.blute-box').addClass('bfor');
				$('.antop-box .aninnerbox img').animate({'top': 0}, 600);
				$('.antop-box .aninnerbox h2').animate({'left': 0, 'opacity': 1}, 600);
				$('.antop-box .aninnerbox h3').animate({'right': 0, 'opacity': 1}, 600);
		    }, 500);

		}
	});
</script>
