<div class="clientMainCont">
	<div class="slide05 pbottom" style="background: #fbf7f4; min-height: 100vh;">
		<div class="topHeaderNew" ng-class="headerActive?'active':'inact'">
			<h2>Portfolio</h2>
			<!-- <a href="#" class="pullRight">
					<img src="images/capital18-slogo.png" alt=""></a> -->
		</div>
		<div class="clientBodyCont">
			<div class="clientInner">
				<p>We have aided several businesses at a young age to scale up and become renowned brands. Following are the businesses we have partnered with.</p>
				<div class="clntImgCont">
					<div class="clImg BMS active">
						
						<a href="https://in.bookmyshow.com/" target="_blank" du-parallax y="transY">
							<img class="mobHide" src="images/cl1.png" alt="">
							<img du-parallax opacity="ops" y="transY" class="mobShow" src="images/cl1.png" alt="">
						</a>
						<div class="showOnClientHover mobShow">
							<p du-parallax y="transY" opacity="ops">
								Bookmyshow is the Largest Online Ticketing Platform in India with close to occupying 80% market share. It is currently servicing more than 240 cities & 2800 screens. It also manages ticketing as well as on-ground operations for six out of eight IPL Teams.As of March 2015, Bookmyshow.com recorded an average of 42 million visits per month. It sold an average of over 4.5 Million+ tickets per month on bookmyshow.com and its mobile application for, clocking an impressive growth of 60 per cent over previous year. Bookmyshow is also focused on building its mobile strategy and has close to 17+ Million gross downloads with over 50 per cent of sales through the mobile app.
							</p>
						</div>
					</div>
					<div class="clImg Yatra" style="width: 190px;">
						
						<a href="https://www.yatra.com/" target="_blank" du-parallax y="transY">
							<img class="mobHide" style="max-height: 37px;margin-top: 7px;" src="images/cl2.png" alt="">
							<img du-parallax opacity="ops" y="transY" class="mobShow" style="max-height: 37px;margin-top: 7px;" src="images/cl2.png" alt="">
						</a>
						<div class="showOnClientHover mobShow">
							<p du-parallax y="transY" opacity="ops">
								Yatra.com is an Indian online travel agency and a travel search engine based in Gurgaon, Haryana, founded by Dhruv Shringi, Manish Amin and Sabina Chopra in August 2006. In April 2012, it was the second largest online travel website in India, with 30 per cent share of the 70 billion (US$5.8 billion) market for all online travel-related transactions. Yatra.com was publicly listed on the NASDAQ under the ticker symbol YTRA in December 2012
							</p>
						</div>
					</div>
					<div class="clImg Topper">
						
						<a href="https://www.topperlearning.com/topper-tv" target="_blank" du-parallax y="transY">
							<img class="mobHide" style="margin-top: 7px;max-width: 68%;" src="images/cl3.png" alt="">
							<img du-parallax opacity="ops" y="transY" class="mobShow" style="margin-top: 7px;max-width: 68%;" src="images/cl3.png" alt="">
						</a>
						<div class="showOnClientHover mobShow">
							<p du-parallax y="transY" opacity="ops">
								 Founded in 2007, Topper Learning is part of Greycells 18 Media Ltd, which is the Edtech arm of Network 18. It is a premier K-12 content, delivery & assessment service provider across Broadcast (Topper TV) and Digital (www.topperlearning.com) platforms. Topper Learning aims to solve the problems of Personalization, Access and Quality in the Education space. It seamlessly veers across the edtech and e-learning landscape, in the K12 domain across 2 National and 7 State Boards, JEE, Medical & NDA prep.  						
							</p>
						</div>
					</div>
					<div class="clImg WbChut">
						
						<a href="http://www.webchutney.com/" target="_blank" du-parallax y="transY">
							<img class="mobHide" style="max-width: 85%;max-height: initial;" src="images/cl4.png" alt="">
							<img du-parallax opacity="ops" y="transY" class="mobShow" style="max-width: 85%;max-height: initial;" src="images/cl4.png" alt="">
						</a>
						<div class="showOnClientHover mobShow">
							<p du-parallax y="transY" opacity="ops">
								Founded by Sidharth Rao and Sudesh Samaria in 1999, Webchutney has been credited with developing award winning digital campaigns for some of the biggest brands in the country, including Airtel, Unilever, MasterCard, Coca-Cola, Bacardi Martini, Budweiser, ITC, Marico, Madura Garments, Titan, Bajaj, Reliance Retail and Saint Gobain. In 2013, The Dentsu India Group acquired 80 % stake in Webchutney 						
							</p>
						</div>
					</div>
					<div class="clImg SMC">
						
						<a href="" target="_blank" du-parallax y="transY">
							<img class="mobHide" style="max-width: 85%;max-height: 57px;" src="images/smc.png" alt="">
							<img du-parallax opacity="ops" y="transY" class="mobShow" style="max-width: 85%;max-height: 57px;" src="images/smc.png" alt="">
						</a>
						<div class="showOnClientHover mobShow">
							<p du-parallax y="transY" opacity="ops">
								SMC is a diversified Indian financial service institution with primary business in equity and commodity broking services. It is also engaged in distribution, wealth management, insurance broking, financing, institutional trading and advisory, investment banking, NRI and FPI services, real estate advisory and depository services. The Company has a strong reach across 500+ cities in India and abroad. It’s employee base is more than 2,850+ people and serves over 18,00,000 unique clients. SMC is strong in its equity/commodity brokerage services in the north of India and is diversifying its income and profit sources into other revenue streams such as financing and wealth management. In FY17, the PBT contribution of financing business was almost 27%.  
							</p>
						</div>
					</div>
				</div>
				<div class="clntTxtCont mobHide" style=" min-height: 272px;">
					<div class="showOnClientHoverMain">
						<p>
							Bookmyshow is the Largest Online Ticketing Platform in India with close to occupying 80% market share. It is currently servicing more than 240 cities & 2800 screens. It also manages ticketing as well as on-ground operations for six out of eight IPL Teams.As of March 2015, Bookmyshow.com recorded an average of 42 million visits per month. It sold an average of over 4.5 Million+ tickets per month on bookmyshow.com and its mobile application for, clocking an impressive growth of 60 per cent over previous year. Bookmyshow is also focused on building its mobile strategy and has close to 17+ Million gross downloads with over 50 per cent of sales through the mobile app.
						</p>
					</div>
					<div class="showOnClientHoverMain">
						<p>
							Yatra.com is an Indian online travel agency and a travel search engine based in Gurgaon, Haryana, founded by Dhruv Shringi, Manish Amin and Sabina Chopra in August 2006. In April 2012, it was the second largest online travel website in India, with 30 per cent share of the 70 billion (US$5.8 billion) market for all online travel-related transactions. Yatra.com was publicly listed on the NASDAQ under the ticker symbol YTRA in December 2012
						</p>
					</div>
					<div class="showOnClientHoverMain">
						<p>
							 Founded in 2007, Topper Learning is part of Greycells 18 Media Ltd, which is the Edtech arm of Network 18. It is a premier K-12 content, delivery & assessment service provider across Broadcast (Topper TV) and Digital (www.topperlearning.com) platforms. Topper Learning aims to solve the problems of Personalization, Access and Quality in the Education space. It seamlessly veers across the edtech and e-learning landscape, in the K12 domain across 2 National and 7 State Boards, JEE, Medical & NDA prep.  						
						</p>
					</div>
					<div class="showOnClientHoverMain">
						<p>
							Founded by Sidharth Rao and Sudesh Samaria in 1999, Webchutney has been credited with developing award winning digital campaigns for some of the biggest brands in the country, including Airtel, Unilever, MasterCard, Coca-Cola, Bacardi Martini, Budweiser, ITC, Marico, Madura Garments, Titan, Bajaj, Reliance Retail and Saint Gobain. In 2013, The Dentsu India Group acquired 80 % stake in Webchutney 						
						</p>
					</div>
					<div class="showOnClientHoverMain">
						<p>
							SMC is a diversified Indian financial service institution with primary business in equity and commodity broking services. It is also engaged in distribution, wealth management, insurance broking, financing, institutional trading and advisory, investment banking, NRI and FPI services, real estate advisory and depository services. The Company has a strong reach across 500+ cities in India and abroad. It’s employee base is more than 2,850+ people and serves over 18,00,000 unique clients. SMC is strong in its equity/commodity brokerage services in the north of India and is diversifying its income and profit sources into other revenue streams such as financing and wealth management. In FY17, the PBT contribution of financing business was almost 27%.  
						</p>
					</div>
				</div>
			</div>
			
		</div>
		<footer>
				<div class="footerIcon">
					<img src="images/18.png" alt="">
					<span></span>
				</div>
				<div class="finner">
					<div class="flinks mobHide">
						<a ng-click="beforeNav()" href="/aboutN18">Network18</a>
						<a ng-click="beforeNav()" href="/whyCapital18">capital18</a>
						<a ng-click="beforeNav()" href="/vertical">SECTORS</a>
						<a ng-click="beforeNav()" href="/client">PORTFOLIO</a>
						<a ng-click="beforeNav()" href="/team">Team</a>
						<a ng-click="beforeNav()" href="/contact">contact us</a>
					</div>
					<div class="bshare-box mobShow">
						<div class="inner">
							<a href="#"><i class="fa fa-linkedin "></i></a>
							<a href="#"><i class="fa fa-twitter "></i></a>
							<a href="#"><i class="fa fa-facebook "></i></a>
						</div>
					</div>
					<div class="cright mobHide">© 2015 network18 ALL RIGHTS RESERVED. PRIVACY AND TERMS </div>
					<p class="mobHide">REGISTERED OFFICE  First Floor, Empire Complex, 414 Senapati Bapat Marg, Lower Parel, Mumbai-400013, Maharashtra <br>
						Phone: 011 41506112 / 41506114 Fax: 011 41506112 / 41506114</p>

					<p class="mobHide">CORPORATE OFFICE Express Trade Towers, Plot No. 15 & 16, Sector 16A, Noida, Uttar Pradesh 201 301, India. <br>Phone: 0120 - 4341818 / 0120 - 3987777 Fax: 01203053860</p>


					<p class="mobShow"><b>REGISTERED OFFICE</b>  First Floor, Empire Complex, 414 Senapati Bapat Marg, Lower Parel, Mumbai, Maharashtra 400013<br>
						Phone: 011 41506112 / 41506114</p>

					<p class="mobShow"><b>CORPORATE OFFICE</b> Express Trade Towers, Plot No. 15 & 16, Sector 16A, Noida, Uttar Pradesh 201301 <br>Phone: 0120 - 4341818 / 0120 - 3987777</p>
					<p>© 2015 NETWORK18 ALL RIGHTS RESERVED. PRIVACY AND TERMS</p>
				</div>

			</footer>

	</div>
</div>
<script>
	$(document).ready(function() {
		$(window).unbind('scroll');
		$('.comonbox').fadeIn(1000);
		$(document).unbind("mousewheel DOMMouseScroll MozMousePixelScroll");
		setTimeout(function() {
			if ($(window).width()>1000) {
				$('.clImg:eq(0)').children('a').children('img.mobHide').addClass('animateOnce');
				$('.clImg:eq(1)').children('a').children('img.mobHide').addClass('animateOnce');
				$('.clImg:eq(2)').children('a').children('img.mobHide').addClass('animateOnceAlt');
				$('.clImg:eq(3)').children('a').children('img.mobHide').addClass('animateOnceAlt');
				$('.clImg:eq(4)').children('a').children('img.mobHide').addClass('animateOnceAlt');
			}else{

			}
		}, 1100);
		setTimeout(function() {
			$('.showOnClientHoverMain:eq(0)').fadeIn(1000);
		}, 2100);
		$('.pno').css({
			marginBottom: 0,
		});
		$('.share-pno').children('.share-box').removeClass('whiten').css({
			marginBottom: 0,
		});
		$('.clImg').mouseenter(function(event) {
			$('.clImg.BMS').removeClass('active');

			if ($(this).hasClass('BMS')) {
				$('.clntTxtCont').children('div:eq(0)').fadeIn(1000);

			}else if ($(this).hasClass('Yatra')) {
				$('.clntTxtCont').children('div:eq(1)').fadeIn(1000);
			}else if ($(this).hasClass('Topper')) {
				$('.clntTxtCont').children('div:eq(2)').fadeIn(1000);
			}else if ($(this).hasClass('WbChut')) {
				$('.clntTxtCont').children('div:eq(3)').fadeIn(1000);
			}else if ($(this).hasClass('SMC')) {
				$('.clntTxtCont').children('div:eq(4)').fadeIn(1000);
			}
		}).mouseleave(function(event) {
			$('.showOnClientHoverMain').hide();
		});;
	});
</script>