<div class="mobHide">
	<div class="openSheet">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="share-pno" ng-class="headerShade?'whiten':'darken'">
		<div class="share-box">
			<a href="#" class="tab00"><i class="fa fa-facebook"></i></a>
			<a href="#" class="tab00"><i class="fa fa-twitter"></i></a>
			<a href="#" class="tab00"><i class="fa fa-linkedin"></i></a>
		</div>
		<div class="pno">
			<div class="blute-box">
				<!-- <img src="images/capital18-slogo.png" alt="" style="width: 140px;"> -->
				<span class="makeAct {{tabNum}}"></span>
				<a href="/" class=""><span>home</span><p></p></a>
				<a href="/aboutN18"><span>about Network18</span><p></p></a>
				<a href="/whyCapital18"><span>why Capital18</span><p></p></a>
				<a href="/vertical"><span>Sectors</span><p></p></a>
				<a href="/client"><span>Portfolio</span><p></p></a>
				<a href="/team"><span>Our team</span><p></p></a>
				<a href="/contact"><span>contact</span><p></p></a>
			</div>
		</div>
	</div>
	<div class="comonbox" ng-class="headerShade?'whiten':'darken'">
		<div class="cbinner">
			<div class="pcake-menue-box">
				<a href="/">
					<i><b></b></i>
					<i><b></b></i>
					<i><b></b></i>		
				</a><!-- <strong></strong> --> 
				<span><img src="images/menu.png" alt=""></span>
			</div>
			<div class="pull-right">
				<a href="/"><img src="images/capital18-slogo.png" alt="" style="width: 110px;"></a>
				<!-- <span class="makeAct tab00"></span>
				<a href="#" class=""></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> -->
			</div>
		</div>
	</div>
	<div class="slide03">
		<div class="nav-logo">
			<div class="capital18-slogo">
				<div class="inner">
					<a href="/" class="homeHeaderLink"><img src="images/capital18-slogo.png" alt="" /> </a>
					<p>The Media and Venture<br /> Investing Division<br /> of Network18</p>
				</div>
			</div>
			<nav>
				<div class="inner topHInner">
					<a href="/aboutN18" data-page="0" class="tab01">About Network18</a>
					<a href="/whyCapital18" data-page="1" class="tab02">Why Capital18</a>
					<a href="/vertical" data-page="2" class="tab03">Sectors</a>
					<a href="/client" data-page="3" class="tab04">Portfolio</a>
					<a href="/team" data-page="4" class="tab05">Our Team</a>
					<a href="/contact" data-page="5" class="tab06">Contact Us</a>
					
				</div>
				<div class="bshare-box">
					<div class="inner">
						<a href=""><i href="#" class="fa fa-linkedin "></i></a>
						<a href=""><i href="#" class="fa fa-twitter "></i></a>
						<a href=""><i href="#" class="fa fa-facebook "></i></a>
					</div>
				</div>
			</nav>


		</div>

		<div class="contentbox">
			<div class="closeInner">
				<h1>
					Unlock<br/>Opportunities<br/>for Budding<br/>Businesses
					<button id="openHeaderText" class="openHeaderText">read more</button>
				</h1>
			</div>
			<div class="openInner">
				<div class="innr">
					<p>Capital18 is the media and venture investing division of Network18. It provides the group’s media capital and strategic investment to the fast growing businesses in lieu of the equity
					</p>

					<p>Our mission is to unlock opportunities for the budding and growth stage businesses and enable them to build brand <br>and drive growth.
					</p>

					<p>We have a strong network of media assets across the platforms like TV, Digital and Publishing which ensure that the right audience are targeted at the right time, thereby increasing brand awareness and drive business.
					</p>
					<button class="openHeaderText openHeaderText1"><span></span><span></span></button>
				</div>
			</div>

			
		</div>

		<div class="overbox">
			<ul>
				<li class="slide-one">
					<div class="innerbox">
						<h2>Massive</h2>
						<p>reach in India. 555 Mn tuning into <br>our network monthly</p>
					</div>
				</li>

				<li class="slide-one">
					<div class="innerbox">
						<h2>Wide</h2>
						<p>presence across TV, Digital <br>and Publishing</p>
					</div>
				</li>

				<li class="slide-one">
					<div class="innerbox">
						<h2>Access</h2>
						<p>to all Indian customer segments: <br>affluent to aspiring</p>
					</div>
				</li>

				<li class="slide-one">
					<div class="innerbox">
						<h2>V<span></span>ision</h2>
						<p>& execution of growth <br>strategies</p>
					</div>
				</li>

				<li class="slide-one">
					<div class="innerbox">
						<h2>Deep</h2>
						<p>experience in nurturing and <br>building brands</p>
					</div>
				</li>

				<li class="slide-one">
					<div class="innerbox">
						<h2>Partner</h2>
						<p>in the journey to grow <br>your venture</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="mobShow">
	<div class="openSheet">
		<div></div>
		<div></div>
		<div></div>
	</div>
	
	<div class="comonbox" ng-class="{'whiten':headerShade , 'darken':!headerShade}" ng-show="!showWhich">
		<div class="cbinner">
			<div class="pcake-menue-box">
				<a href="">
					<i><b></b></i>
					<i><b></b></i>
					<i><b></b></i>		
				</a><!-- <strong></strong> --> 
				<span><img src="images/menu.png" alt=""></span>
			</div>
			<div class="pull-right">
				<a href="/"><img src="images/capital18-slogo.png" alt="" style="width: 110px;"></a>
				<!-- <span class="makeAct tab00"></span>
				<a href="#" class=""></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> -->
			</div>
		</div>
	</div>
	<div class="slide03">
		<div class="nav-logo">
			<div class="capital18-slogo">
				<div class="inner">
					<a href="/" class="homeHeaderLink"><img src="images/capital18-slogo.png" alt="" /> </a>
					<p>The Media and Venture<br /> Investing Division<br /> of Network18</p>
				</div>
			</div>
			<nav>
				<div class="inner topHInner">
					<a href="aboutN18" data-page="0" class="tab01">About Network18</a>
					<a href="whyCapital18" data-page="1" class="tab02">Why Capital18</a>
					<a href="vertical" data-page="2" class="tab03">Sectors</a>
					<a href="client" data-page="3" class="tab04">Portfolio</a>
					<a href="team" data-page="4" class="tab05">Our Team</a>
					<a href="contact" data-page="5" class="tab06">Contact Us</a>
					
				</div>
				<div class="bshare-box">
					<div class="inner">
						<a href=""><i href="#" class="fa fa-linkedin "></i></a>
						<a href=""><i href="#" class="fa fa-twitter "></i></a>
						<a href=""><i href="#" class="fa fa-facebook "></i></a>
					</div>
				</div>
			</nav>


		</div>
	</div>
</div>



<script>
	$(document).ready(function(){
		var vH = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
		
		$('.headerMainCont .slide03').height(vH);

		$(window).unbind('scroll');
		$(document).unbind("mousewheel DOMMouseScroll MozMousePixelScroll");
		var maxH = $(window).height();
		var maxW = $(window).width();
		var aR =(398/292);
		
		if (maxW/maxH>=aR) {
			$('#vdos').addClass('wideVid');
		}else{
			
			$('#vdos').addClass('tallVid');
		};
		$('.pcake-menue-box,.tab01,.tab02,.tab03,.tab04,.tab05,.tab06,.homeHeaderLink').on('click', function(){
			$(window).unbind('scroll');
			$('.topHeaderNew').removeClass('active');
			$(document).unbind("mousewheel DOMMouseScroll MozMousePixelScroll");
			if ($('.pcake-menue-box').hasClass('active')) {
				$('.openSheet').addClass('activated');
				$('.pcake-menue-box.addclass').css('marginLeft', 0+'px');
				$('.pcake-menue-box').removeClass('addclass');
				$('.pcake-menue-box').removeClass('active');
				$('.share-pno').fadeIn(1000);
				$('.comonbox .cbinner .pull-right').fadeIn(1000);
				//$('.share-box').children('a').removeClass().addClass('tab00');
				//$('.openSheet').addClass('activated');
				// $('.share-pno').fadeOut(1000);
				//$('.team-container').removeClass('adls');
				$('.pcake-menue-box').removeClass('bfor');
				$('.blute-box').removeClass('bfor');
				
				//$('.verticals-container').removeClass('adcls');
				
				// $('.outerbox').hide();
				//$('.slider01').animate({'left': '-100%'});
				$('.share-pno').removeClass('btm');
				$('.blute-box').removeClass('gray');
				// $('.white-slide').removeClass('addclass');	
				
				$('.headerMainCont .slide03').animate({'left': '-100%'});
				
				// $('.innr').children('p').removeClass('activate');
				$('.pcake-menue-box span').show();
				$('.headerMainCont .slide03 .contentbox').removeClass('addclass');
				//$('.slide04-container').animate({'top': '-100%', 'opacity': 0}, 500);
				//$('.slide04 .about-group').removeClass('addclass');
				//$('.slidercontainer').fadeOut();
				$('.headerMainCont .mobShow .slide03 nav').removeClass('transAct');
				function myFunction01() {
				    setTimeout(function(){
				    $('.vide-box01').fadeIn();
				    }, 600);
				}
				myFunction01();
				function myFunction16() {
				    setTimeout(function(){
				    	$('.openSheet').removeClass('activated');
				    }, 2100);
				};
				myFunction16();

			}else {
					$('.openSheet').addClass('activated');
					$('.imgContPno').removeClass('whiten');
					$('.share-pno').children('.share-box').removeClass('whiten').css({
						marginBottom: 0,
					});
					$('.pno').css({
						marginBottom: 0,
					});
					$('.comonbox .cbinner .pull-right').fadeOut(100);
					var leftMar = (((0.33*($(window).width()))-230)/2)+150;
					var leftMarSm =  (($(window).width()-230)/2)+140;
					$('.pcake-menue-box').addClass('active');
					
					$('.share-pno').fadeOut(1000);
					$('.bshare-box').show();
					//$('.team-container').removeClass('adls');
					$('.pcake-menue-box').removeClass('bfor');
					$('.blute-box').removeClass('bfor');
					;
					//$('.verticals-container').removeClass('adcls');
					$('.comonbox').show();
					//$('.about-network').fadeOut(1000);
					
					//$('.slider01').animate({'left': '100%'});
					//$('.vide-box01').fadeOut();
					
					// $('.white-slide').removeClass('addclass');
					$('.pcake-menue-box').removeClass('gray');
					$('.pcake-menue-box').addClass('addclass');
					if ($(window).width()>1000) {
						$('.pcake-menue-box.addclass').css('marginLeft', leftMar+'px');
					}else {
						$('.pcake-menue-box.addclass').css('marginLeft', leftMarSm+'px');
					}
					$('.headerMainCont .mobShow .slide03 nav').addClass('transAct');
					$('.pcake-menue-box strong').css('display', 'block')
					
					//$('.slide04-container').animate({'top': '-100%', 'opacity': 0}, 500);
					//$('.slide04 .about-group').removeClass('addclass');
					function myFunction() {
					    setTimeout(function(){
					    	
					    	$('.headerMainCont .slide03').animate({
					    		left: 0,
					    	},1000, function() {
					    		$('.headerMainCont .slide03 .contentbox').addClass('addclass').show();
					    		// $('.innr').children('p').addClass('activate');
					    		//console.log(($('.capital18-slogo').children('.inner').offset().left)+170);
					    		// $('.pcake-menue-box.addclass').css('marginLeft', (($('.capital18-slogo').children('.inner').offset().left)+150)+'px');
					    	});
						    
							// $('.slidercontainer').fadeOut();
							// $('.contactMainCont').fadeOut();
							// $('.clientMainCont').fadeOut();
							$('.blute-box').removeClass('gray');
					    }, 800);
					};
					
					if($(window).width()>1000){
						myFunction();
					}else {
						$('.headerMainCont .slide03').animate({
							left: 0,
						},1000, function() {
							$('.headerMainCont .slide03 .contentbox').addClass('addclass').show();
						});
					}
					
					function myFunction15() {
					    setTimeout(function(){
					    	$('.openSheet').removeClass('activated');
					    }, 2100);
					};
					myFunction15();
					
			}
			
		});

		$('.openHeaderText').on('click', function(event) {
			$('.contentbox .openInner').toggleClass('openAct');
			$('.innr').children('p').toggleClass('activate');
		});
		var ht = $('.headerMainCont .slide03 .overbox ul li').height();
		$('nav .inner.topHInner a').mouseenter(function(e){
			// $('.headerMainCont .slide03 .contentbox').stop().animate({'top': '-130%'});
			$('.headerMainCont .slide03 .contentbox').stop().animate({
				top: '-100%',
				opacity:0
				},500, function() {
				
			});

			$('.headerMainCont .slide03 .overbox').addClass('addclass');
			e.preventDefault();
			var $this = $(this);
			var pageno=$this.data('page');
			var marg =pageno*ht;
			$('.overbox ul').animate({
				marginTop: '-'+marg+'px'
			},'100');
			$('.headerMainCont .slide03 .overbox ul li').removeClass("addclass").eq($(this).index()).addClass("addclass"); 
			e.stopPropagation();
		}).mouseleave(function(event) {
			// $('.headerMainCont .slide03 .contentbox').stop().animate({'top': '0%'});
			$('.headerMainCont .slide03 .contentbox').stop().animate({
				top: '0',
				opacity:1
				},500, function() {
				
			});
			$('.headerMainCont .slide03 .overbox').removeClass('addclass');
		});
	});
</script>