<div class="mainHomeCont mobHide">

	<div class="slide01"><img src="images/CAPITAL18_LOGO.png" alt="" class="capital18" /></div>
	<div class="vide-box01">
		<div id="vdosInt" style="position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);z-index: -1;"></div>
		<!-- <video muted autoplay="false" loop  width="100%" id="vdos">
 			<source src="images/newe_bg.mp4" type="video/mp4">
  		</video> -->
		<div class="vidBGYT" style="height: {{pHigh}}px;width: {{pWid}}px;">
			<youtube-video ng-if="enableYT" player-vars="playerVars" player="bestPlayer" video-id="theBestVideo" player-width="'100%'" player-height="'100%'" ></youtube-video>
		</div>
		<div class="slide02">

			<div class="midbox">
				<div class="textbox">
					<h2>The Media and Venture <span>Investing  Division of</span></h2>
					<a href="#" class="network18-logo"><img src="images/network18-logo.png" alt="" /></a>
				</div>
				<a href="#" class="logobox"><img src="images/CAPITAL18_LOGO.png" alt="" /></a>

			</div>
			
		</div>
	</div>
</div>
<div class="mainHomeCont mobShow noPreventDefault" >
	
		<section class="panel mainMobPanel"  ng-class="showWhich?'active':' '" ng-swipe-up="redirectFunc($event)">
				<div class="downAniCont mobShow"><img src="images/aerrow.png" alt=""><span>SCROLL</span></div>
				<div class="slide01"><img src="images/CAPITAL18_LOGO.png" alt="" class="capital18" /></div>
				<div class="vide-box01">
					<!-- <video muted autoplay="false" loop  width="100%" id="vdos">
			 			<source src="images/newe_bg.mp4" type="video/mp4">
			  		</video> -->

					<div class="slide02">

						<div class="midbox">
							<a href="#" class="logobox mobShow"><img src="images/CAPITAL18_LOGO.png" alt="" /></a>
							<div class="textbox">
								<h2>The Media and Venture <span>Investing  Division of</span></h2>
								<a href="#" class="network18-logo"><img src="images/network18-logo.png" alt="" /></a>
							</div>
							<a href="#" class="logobox mobHide"><img src="images/CAPITAL18_LOGO.png" alt="" /></a>

						</div>
						
					</div>
				</div>
		</section>
		<div id="homeContainer" class="mobShow" ng-swipe-left="swpLeft($event)" ng-swipe-right="swpRght($event)">
			<slick infinite=true slides-to-show=1 slides-to-scroll=1>
				<section class="panel slide03" ng-class="{'active' : !showWhich&&showWhichLeft==1, 'notSwipe' : noSwipeTop}" >
					
					<div class="contentbox">
						<div class="closeInner">
							<h1>
								Unlock<br/>Opportunities<br/>for Budding<br/>Businesses
								<button id="openHeaderText" class="openHeaderText">read more</button>
							</h1>
							<div class="bot-indicator"><img src="images/aerrow.png" alt=""></div>
						</div>
						<div class="openInner">
							<div class="innr">
								<p>Capital18 is the media and venture investing division of Network18. It provides the group’s media capital and strategic investment to the fast growing businesses in lieu of the equity
								</p>

								<p>Our mission is to unlock opportunities for the budding and growth stage businesses and enable them to build brand and drive growth.
								</p>

								<p>We have a strong network of media assets across the platforms like TV, Digital and Publishing which ensure that the right audience are targeted at the right time, thereby increasing brand awareness and drive business.
								</p>
								<button class="openHeaderText openHeaderText1"><span></span><span></span></button>
							</div>
						</div>

						
					</div>
				</section>
				<section class="panel showHdSld" ng-class="showWhichLeft==2?'active':' '" >
					<ul>
						<li class="slide1">
							<div class="innerbox">
								<div class="bot-indicator"><img src="images/aerrow.png" alt=""></div>
								<div class="linkCont"><a href="/aboutN18">About Network18</a></div>
								<h2>Massive</h2>
								<p>Reach in India. 680 million <br/>tuning into our network monthly</p>
								<div class="slantMenu">
									<span class="active"></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							
						</li>
					</ul>
				</section>
				<section class="panel showHdSld" ng-class="showWhichLeft==3?'active':' '" >
					<ul>
						<li class="slide2">
							<div class="innerbox">
								<div class="bot-indicator"><img src="images/aerrow.png" alt=""></div>
								<div class="linkCont"><a href="/whyCapital18">Why Capital18</a></div>
								<h2>Wide</h2>
								<p>presence across <br/>TV, Digital and Publishing</p>
								<div class="slantMenu">
									<span></span>
									<span class="active"></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
						</li>
					</ul>
				</section>
				<section class="panel showHdSld" ng-class="showWhichLeft==4?'active':' '" >
					<ul>
						<li class="slide3">
							<div class="innerbox">
								<div class="bot-indicator"><img src="images/aerrow.png" alt=""></div>
								<div class="linkCont"><a href="/vertical">Sectors</a></div>
								<h2>Access</h2>
								<p>to all Indian customer segments: <br/>affluent to aspiring</p>
								<div class="slantMenu">
									<span></span>
									<span></span>
									<span class="active"></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
						</li>
					</ul>
				</section>
				<section class="panel showHdSld" ng-class="showWhichLeft==5?'active':' '" >
					<ul>
						<li class="slide4">
							<div class="innerbox">
								<div class="bot-indicator"><img src="images/aerrow.png" alt=""></div>
								<div class="linkCont"><a href="/client">Portfolio</a></div>
								<h2>V<span></span>ision</h2>
								<p>& execution of growth strategies</p>
								<div class="slantMenu">
									<span></span>
									<span></span>
									<span></span>
									<span class="active"></span>
									<span></span>
									<span></span>
								</div>
							</div>
						</li>
					</ul>
				</section>
				<section class="panel showHdSld" ng-class="showWhichLeft==6?'active':' '" >
					<ul>
						<li class="slide5">
							<div class="innerbox">
								<div class="bot-indicator"><img src="images/aerrow.png" alt=""></div>
								<div class="linkCont"><a href="/team">Our Team</a></div>
								<h2>Deep</h2>
								<p>experience in nurturing and <br/>building brands</p>
								<div class="slantMenu">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span class="active"></span>
									<span></span>
								</div>
							</div>
						</li>
					</ul>
				</section>
				<section class="panel showHdSld" ng-class="showWhichLeft==7?'active':' '" >
					<ul>
						<li class="slide6">
							<div class="innerbox">
								<div class="bot-indicator"><img src="images/aerrow.png" alt=""></div>
								<div class="linkCont"><a href="/contact">Contact Us</a></div>
								<h2>Partner</h2>
								<p>in the journey to grow <br/>your venture</p>
								<div class="slantMenu">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span class="active"></span>
								</div>
							</div>
						</li>
					</ul>
				</section>
			</slick>
			

		</div>
</div>

<script>
	$(document).ready(function() {
		var vH = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
		console.log(vH);
		$('.mainMobPanel').height(vH);
		$('.mainHomeCont.mobShow').height(vH);
		if ($(window).height()<1000) {
			$('.mainContainer').css('minHeight', 'unset');
		}
		$(window).unbind('scroll');
		$(document).unbind("mousewheel DOMMouseScroll MozMousePixelScroll");
		//document.querySelector('#vdos').pause();
		$('.share-pno').children('.share-box').removeClass('whiten').css({
			marginBottom: 0,
		});
		var currentIndex=1;
		setTimeout(function(){
			// console.log('here');
			$('.slide01').fadeOut(1400);
			$('.vide-box01').animate({'left': 0}, 500, function(){
				// document.querySelector('#vdos').play();
				$('.slide02, .comonbox, .shrebox').fadeIn(2000);
				$('.downAniCont.mobShow').animate({opacity:1}, 2000);
				if ($(window).width()<1000) {
					$('.mainMobPanel .slide02').addClass('activateSl2');
				}
				$('.downAniCont.mobShow').fadeIn(2000);
				//$('.slide02').css('display', 'flex');
				$('.share-pno').fadeIn(2000);
				setTimeout(function(){
					//$('.slide02').fadeOut(1400);
					
				},5000);
				
			});    
		},5000);
		
	});
	if ($(window).width<1000) {
		//console.log('here');
		//$('.comonbox').removeClass('whiten').addClass('darken');
	}
	// 	$(this).delay(3000).queue(function(){
	// 		$(this).fadeOut(1000);
	// 		$(this).delay(3000).queue(function(){
	// 			$('.vide-box01').animate({'left': 0}, 500, function(){
	// 					$('.slide02, .comonbox, .shrebox').fadeIn(2000);
	// 					$('.share-pno').fadeIn(2000);
	// 					setTimeout(function(){
	// 						$('.slide02').fadeOut(1400);
	// 					},5000);
	// 					document.querySelector('#vdos').play();
	// 				});    
	// 		});
			
	// 	});	
	// });
	
	
</script>
