<div id="homeContainer" class="mobShow">
	<section class="panel slide03">
		
		<div class="contentbox">
			<div class="closeInner">
				<h1>
					Unlock<br/>Opportunities<br/>for Budding<br/>Businesses
					<button id="openHeaderText" class="openHeaderText">read more</button>
				</h1>
			</div>
			<div class="openInner">
				<div class="innr">
					<p>Capital18 is the media and venture investing division of Network18. It provides the group’s media capital and strategic investment to the fast growing businesses in lieu of the equity
					</p>

					<p>Our mission is to unlock opportunities for the budding and growth stage businesses and enable them to build brand <br>and drive growth.
					</p>

					<p>We have a strong network of media assets across the platforms like TV, Digital and Publishing which ensure that the right audience are targeted at the right time, thereby increasing brand awareness and drive business.
					</p>
					<button class="openHeaderText openHeaderText1"><span></span><span></span></button>
				</div>
			</div>

			
		</div>
	</section>
	<section class="panel showHdSld">
		<ul>
			<li class="slide1">
				<div class="innerbox">
					<h2>Massive</h2>
					<p>reach in India. 555 Mn tuning into <br>our network monthly</p>
				</div>
				
			</li>
		</ul>
	</section>
	<section class="panel showHdSld">
		<ul>
			<li class="slide2">
				<div class="innerbox">
					<h2>Wide</h2>
					<p>presence across TV, Digital <br>and Publishing</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="panel showHdSld">
		<ul>
			<li class="slide3">
				<div class="innerbox">
					<h2>Access</h2>
					<p>to all Indian customer segments: <br>affluent to aspiring</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="panel showHdSld">
		<ul>
			<li class="slide4">
				<div class="innerbox">
					<h2>V<span></span>ision</h2>
					<p>& execution of growth <br>strategies</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="panel showHdSld">
		<ul>
			<li class="slide5">
				<div class="innerbox">
					<h2>Deep</h2>
					<p>experience in nurturing and <br>building brands</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="panel showHdSld">
		<ul>
			<li class="slide6">
				<div class="innerbox">
					<h2>Partner</h2>
					<p>in the journey to grow <br>your venture</p>
				</div>
			</li>
		</ul>
	</section>
	

</div>
<script>
	// $(document).ready(function() {
	// 	$(window).unbind('scroll');
	// 	$(document).unbind("mousewheel DOMMouseScroll MozMousePixelScroll");
	// 	var currentIndex=1;
	// 	if ($(window).width()<1000) {
	// 		console.log('here');
	// 		$("#homeContainer").onepage_scroll({
	// 		   sectionContainer: "#homeContainer .panel",     
	// 		   easing: "ease",                  
			                       
	// 		   animationTime: 400,             
	// 		   pagination: true,                
	// 		   updateURL: false,                
	// 		   beforeMove: function(index) {
			   		
	// 		   },  
	// 		   afterMove: function(index) {
	// 		   		currentIndex = index;
	// 		   		console.log(index-1);
	// 		   		$('#homeContainer .panel').each(function(){
	// 			    	if ($(this).hasClass('before')) {
	// 			    		$(this).removeClass('before')
	// 			    	}
	// 			    });
	// 		   		if ($('#homeContainer .panel:nth-child('+(index)+')').hasClass('before')) {

	// 		   		}
	// 		   		$('#homeContainer .panel:nth-child('+(index-1)+')').addClass('before');
	// 		   		console.log(index);
	// 		   },   
	// 		   loop: false,
	// 		   keyboard: true,                  
	// 		   responsiveFallback: false,        
			                                    
			                                    
	// 		   direction: "vertical"
	// 		});
	// 	}
	// });
</script>