	<div class="team-container adls">
		<div class="tcinner">
			<div class="topHeaderNew" ng-class="headerActive?'active':'inact'">
				<h2>Our Team</h2>
				
			</div>
			<div class="teamMainContInnere">
				<ul class="liLeft{{liLeft}}">
					<li >
						<div class="front">
							<img src="images/puneet.png" alt="">
							<div class="title">
								<h2>Puneet Singhvi</h2>
								<h4>EVP & Head - Corporate Development</h4>
								<button class="mobShow600 openExtTxt openExtTxt1">READ MORE</button>
							</div>
						</div>
						<div class="back">
							<div class="backInner">
								<p>Puneet is leading & overseeing Investments, M&As, Partnerships, ...<button class="openExtTxt openExtTxt1" >READ MORE</button></p>
							</div>
						</div>
					</li>
					<li>
						<div class="front">
							<img src="images/sachin.png" alt="">
							<div class="title">
								<h2>Sachin Tagra</h2>
								<h4>Head, Capital18</h4>
								<button class="mobShow600 openExtTxt openExtTxt2">READ MORE</button>
							</div>
						</div>
						<div class="back">
							<div class="backInner">
								<p>Sachin has eighteen years of prolific business experiences and deep...
									<button class="openExtTxt openExtTxt2" >READ MORE</button>
								</p>
							</div>
						</div>
					</li>
					<li >
						<div class="front">
							<img src="images/akash.png" alt="">
							<div class="title">
								<h2>Akash Mehta</h2>
								<h4>Investment Manager, Capital18</h4>
								<button class="mobShow600 openExtTxt openExtTxt3">READ MORE</button>
							</div>
						</div>
						<div class="back">
							<div class="backInner">
								<p>Akash is passionate about investing in new age business models and emerging...
								<button class="openExtTxt openExtTxt3" >READ MORE</button></p>
							</div>
						</div>
					</li>
					<li >
						<div class="front">
							<img src="images/vikas.png" alt="">
							<div class="title">
								<h2>Vikas Saxena</h2>
								<h4>Investment Manager, Capital18</h4>
								<button class="mobShow600 openExtTxt openExtTxt4">READ MORE</button>
							</div>
						</div>
						<div class="back">
							<div class="backInner">
								<p>Vikas has more than 7 years of professional experience across private equity...
								<button class="openExtTxt openExtTxt4" >READ MORE</button></p>
							</div>
						</div>
					</li>
					<div class="fixedOpenModal">
						<p></p>
						<button class="fixedOpenModalBadge"><span></span><span></span></button>
					</div>
				</ul>
			</div>
			
		</div>
		<!-- <div class="fixedOpenModal">
			<div class="panel">
				
			</div>
		</div> -->
		<footer>
				<div class="footerIcon">
					<img src="images/18.png" alt="">
					<span></span>
				</div>
				<div class="finner">
					<div class="flinks mobHide">
						<a ng-click="beforeNav()" href="/aboutN18">Network18</a>
						<a ng-click="beforeNav()" href="/whyCapital18">capital18</a>
						<a ng-click="beforeNav()" href="/vertical">SECTORS</a>
						<a ng-click="beforeNav()" href="/client">PORTFOLIO</a>
						<a ng-click="beforeNav()" href="/team">Team</a>
						<a ng-click="beforeNav()" href="/contact">contact us</a>
					</div>
					<div class="bshare-box mobShow">
						<div class="inner">
							<a href="#"><i class="fa fa-linkedin "></i></a>
							<a href="#"><i class="fa fa-twitter "></i></a>
							<a href="#"><i class="fa fa-facebook "></i></a>
						</div>
					</div>
					<div class="cright mobHide">© 2015 network18 ALL RIGHTS RESERVED. PRIVACY AND TERMS </div>
					<p class="mobHide">REGISTERED OFFICE  First Floor, Empire Complex, 414 Senapati Bapat Marg, Lower Parel, Mumbai-400013, Maharashtra <br>
						Phone: 011 41506112 / 41506114 Fax: 011 41506112 / 41506114</p>

					<p class="mobHide">CORPORATE OFFICE Express Trade Towers, Plot No. 15 & 16, Sector 16A, Noida, Uttar Pradesh 201 301, India. <br>Phone: 0120 - 4341818 / 0120 - 3987777 Fax: 01203053860</p>


					<p class="mobShow"><b>REGISTERED OFFICE</b>  First Floor, Empire Complex, 414 Senapati Bapat Marg, Lower Parel, Mumbai, Maharashtra 400013<br>
						Phone: 011 41506112 / 41506114</p>

					<p class="mobShow"><b>CORPORATE OFFICE</b> Express Trade Towers, Plot No. 15 & 16, Sector 16A, Noida, Uttar Pradesh 201301 <br>Phone: 0120 - 4341818 / 0120 - 3987777</p>
					<p>© 2015 NETWORK18 ALL RIGHTS RESERVED. PRIVACY AND TERMS</p>
				</div>

			</footer>
	</div>
	<script>
		$(document).ready(function() {
			$('.comonbox').fadeIn(1000);
			var winW=$(window).width();
			$(window).unbind('scroll');
			$(document).unbind("mousewheel DOMMouseScroll MozMousePixelScroll");
			$('.share-pno').children('.share-box').removeClass('whiten').css({
				marginBottom: 0,
			});
			$('.pno').css({
				marginBottom: 0,
			});
			$('.fixedOpenModalBadge').on('click', function(event) {
				$('.fixedOpenModal').fadeOut(10).children('p').text('');
			});
			$('.openExtTxt').on('click', function(event) {
				event.preventDefault();
				if ($(this).hasClass('openExtTxt1')) {
					$('.fixedOpenModal').fadeIn(1000).children('p').text('Puneet is leading & overseeing Investments, M&As, Partnerships, Strategic Alliances and Business Development across all media platforms (Television, Telecom, Digital and Offline) within the Network18 group. He is also a part of the team at parent company level, that evaluates and drives investment and alliance initiatives across technology and digital domain. Erstwhile, he has served as COO of Times Global Partners where he was responsible for overall strategy and growth.');
					if (winW<=1000) {$('.fixedOpenModal').css('top', '0px');}

				}else if ($(this).hasClass('openExtTxt2')) {
					$('.fixedOpenModal').fadeIn(1000).children('p').text('Sachin has eighteen years of prolific business experiences and deep understanding of consumer , retail and media businesses. Have driven P&Ls of large businesses and made significant contributions in various organizations from the start-up phase of the businesses to profitable scaling up. Currently leading the media investment division of Network18 group. Before this he was leading the Incubator Capital investment model of Times group, focused on investing in.');
					if (winW<=1000) {$('.fixedOpenModal').css('top', '400px');}
				}
				else if ($(this).hasClass('openExtTxt3')) {
					$('.fixedOpenModal').fadeIn(1000).children('p').text('Akash is passionate about investing in new age business models and emerging technologies. Previously he has worked with consumer internet and emerging technologies sector at Brand Capital, investment arm of Times Group where he was part of multiple transactions and key strategic initiatives.  He holds a degree in management from IIM Bangalore and B.tech in mechanical engineering from IIT Bombay.');
					if (winW<=1000) {$('.fixedOpenModal').css('top', '800px');}
				}
				else{
					$('.fixedOpenModal').fadeIn(1000).children('p').text('Vikas has more than 7 years of professional experience across private equity and consulting. Prior to joining Capital18 he worked with Jacob Ballas Capital, advisor to 3 sector agnostic PE funds with $650 million AUM in aggregate, wherein he worked on multiple transactions (involving investments, IPOs and exits) across sectors. Vikas is a management graduate from IIM Calcutta and a B.Tech in Civil Engineering from IIT Kanpur. He was an active member of the Dramatics club at IIM Calcutta and was a member of the Institute Cricket team at both IIT Kanpur and IIM Calcutta.');
					if (winW<=1000) {$('.fixedOpenModal').css('top', '1200px');}
				}


			});
			// setTimeout(function() {
			// 	$('.tcinner ul li:first-child').animate({'left': 0}, 700);
			//     $('.tcinner ul li:last-child').animate({'right': 0}, 700);
			// }, 1100);
		});
	</script>