<div class="slidercontainer">
	<div class="slide05 pbottom" style="background: #f5e7de">
		<div id="pinContainer" class="mobHide">
			<section id="sec1" class="panel white blue" style="display: flex;flex-direction: column;">
				
				<div class="downAniCont"><span>SCROLL</span><img src="images/dpwar.png" alt=""></div>
				
				<div class="topHeaderNew">
					<h2>WHY US</h2>
					<!-- <a href="#" class="pullRight"><img src="images/capital18-slogo.png" alt=""></a> -->
				</div>


				<div class="slide06 ">
					<div class="contentbox" id="textInn1">
						<div class="ctinnerbox"><h2>massive</h2>Reach in India</div>
						<div class="cbinnerbox">
							<h3><img src="images/556.png" alt=""></h3>
							<div><p>users and targeting both<br />affluent Indians as well as<br />aspiring middle class</p></div>
						</div>
						<p class="cbinnerboxP">Source: BARC INDIA, Target: 2+, All India, Time Period: 18 Feb - 21 Apr 2017</p>
					</div>
				</div>
			</section>
			<section id="sec2" class="panel turqoise">
				<div class="whyusbox whyusbox1">
					<div class="whyusbox_l" id="textInn2">
						<h2>
							<img src="images/why1.png" alt="">
							<p>Strategic <br /> Participation<br />in Growth</p>
							<p>
								We invest media and strategic capital into businesses and take part in their brand building journey right at the start. We partner with businesses with the objective of scaling the brand to the national level. We look for aggressive entrepreneurs with differentiated business models and provide the right arsenal to disrupt the market.
							</p>
						</h2>
					</div>
					<div class="whyusbox_r"></div>
					
				</div>
			</section>
			<section id="sec3" class="panel white green">
				<div class="whyusbox whyusbox2">
					<div class="whyusbox_l" id="textInn3">
						<h2>
							<img src="images/why2.png" alt="">
							<p>Deeper <br /> Engagement on <br />Media Strategies</p>
							<p>
								We not only conceptualize marketing and growth strategies but also be a constant force throughout the execution phase. Our expertise in multi-channel strategies with a focus on content marketing makes us the idea partner for customer education within emerging and existing sectors.
							</p>
						</h2>
					</div>
					<div class="whyusbox_r"></div>
					
				</div>
			</section>
			<section id="sec4" class="panel bordeaux">
				<div class="whyusbox whyusbox3">
					<div class="whyusbox_l" id="textInn4">
						<h2>
							<img src="images/why3.png" alt="">
							<p>Ecosystem <br />Connects</p>
							<p>
								Our team consists of strategists, marketers and hustlers who have worked with various large and emerging businesses in solving their business problems. The vast ecosystem connects and network equip our partners to solve any business problem efficiently.
							</p>
						</h2>
					</div>
					<div class="whyusbox_r"></div>
					
				</div>
			</section>
			<section id="sec5" class="panel white red">
				<div class="whyBotCont">
					<div class="flex-cont">
						<div class="whyBotL">
							<img src="images/vbmedia.png" alt="">
						</div>
						<div class="whyBotR" id="textInn5">
							<h2>
								<p>If you wish to further explore about partnership opportunities with Capital18, reach out to us <strong>capital18@nw18.com</strong>
								</p>
							</h2>
						</div>
					</div>
					<footer>
						<div class="footerIcon">
							<img src="images/18.png" alt="">
							<span></span>
						</div>
						<div class="finner">
							<div class="flinks">
								<a ng-click="beforeNav()" href="/aboutN18">Network18</a>
								<a ng-click="beforeNav()" href="/whyCapital18">capital18</a>
								<a ng-click="beforeNav()" href="/vertical">SECTORS</a>
								<a ng-click="beforeNav()" href="/client">PORTFOLIO</a>
								<a ng-click="beforeNav()" href="/team">Team</a>
								<a ng-click="beforeNav()" href="/contact">contact us</a>
							</div>
							<div class="cright">© 2015 network18 ALL RIGHTS RESERVED. PRIVACY AND TERMS </div>
							<p>REGISTERED OFFICE  First Floor, Empire Complex, 414 Senapati Bapat Marg, Lower Parel, Mumbai-400013, Maharashtra <br>
								Phone: 011 41506112 / 41506114 Fax: 011 41506112 / 41506114</p>

							<p>CORPORATE OFFICE Express Trade Towers, Plot No. 15 & 16, Sector 16A, Noida, Uttar Pradesh 201 301, India. <br>Phone: 0120 - 4341818 / 0120 - 3987777 Fax: 01203053860</p>
						</div>

					</footer>
					
				</div>
			</section>
		</div>
		<div id="pinContainer1" class="mobShow">
			<section id="sec1" class="panel white blue" style="display: flex;flex-direction: column;">
				
				<div class="downAniCont mobShow"><img src="images/aerrow.png" alt=""><span>SCROLL</span></div>
				<div class="topHeaderNew">
					<h2>WHY US</h2>
					<!-- <a href="#" class="pullRight"><img src="images/capital18-slogo.png" alt=""></a> -->
				</div>


				<div class="slide06 ">
					<div class="contentbox" id="textInn1">
						<div class="ctinnerbox"><h2>massive</h2>Reach in India</div>
						<div class="cbinnerbox">
							<h3><img src="images/556.png" alt=""></h3>
							<div class="mobHide"><p>users and targeting both<br />affluent Indians as well as<br />aspiring middle class</p></div>
							<div class="mobShow"><p>individuals tuning into<br/>our assets monthly</p></div>
						</div>
						<p class="cbinnerboxP">Source: BARC INDIA, Target: 2+, All India, Time Period: 18 Feb - 21 Apr 2017</p>
					</div>
				</div>
			</section>
			<section id="sec2" class="panel turqoise">
				<div class="whyusbox whyusbox1">
					<div class="whyusbox_l" id="textInn2">
						<h2>
							<img src="images/why1.png" alt="">
							<p>Strategic <br /> Participation<br />in Growth</p>
							<p>
								We invest media and strategic capital into businesses and take part in their brand building journey right at the start. We partner with businesses with the objective of scaling the brand to the national level. We look for aggressive entrepreneurs with differentiated business models and provide the right arsenal to disrupt the market.
							</p>
						</h2>
					</div>
					<div class="whyusbox_r"></div>
					
				</div>
			</section>
			<section id="sec3" class="panel white green">
				<div class="whyusbox whyusbox2">
					<div class="whyusbox_l" id="textInn3">
						<h2>
							<img src="images/why2.png" alt="">
							<p>Deeper <br /> Engagement on <br />Media Strategies</p>
							<p>
								We not only conceptualize marketing and growth strategies but also be a constant force throughout the execution phase. Our expertise in multi-channel strategies with a focus on content marketing makes us the idea partner for customer education within emerging and existing sectors.
							</p>
						</h2>
					</div>
					<div class="whyusbox_r"></div>
					
				</div>
			</section>
			<section id="sec4" class="panel bordeaux">
				<div class="whyusbox whyusbox3">
					<div class="whyusbox_l" id="textInn4">
						<h2>
							<img src="images/why3.png" alt="">
							<p>Ecosystem <br />Connects</p>
							<p>
								Our team consists of strategists, marketers and hustlers who have worked with various large and emerging businesses in solving their business problems. The vast ecosystem connects and network equip our partners to solve any business problem efficiently.
							</p>
						</h2>
					</div>
					<div class="whyusbox_r"></div>
					
				</div>
			</section>
			<section id="sec5" class="panel white red">
				<div class="whyBotCont">
					<div class="flex-cont">
						<div class="whyBotL">
							<img class="mobHide" src="images/vbmedia.png" alt="">
							<img class="mobShow" src="images/contact_line.jpg" alt="">
						</div>
						<div class="whyBotR" id="textInn5">
							<h2>
								<p>If you wish to further explore about partnership opportunities with Capital18, reach out to us <strong>capital18@nw18.com</strong>
								</p>
							</h2>
						</div>
					</div>
					<footer class="mobHide">
						<div class="footerIcon">
							<img src="images/18.png" alt="">
							<span></span>
						</div>
						<div class="finner">
							<div class="flinks">
								<a ng-click="beforeNav()" href="/aboutN18">Network18</a>
								<a ng-click="beforeNav()" href="/whyCapital18">capital18</a>
								<a ng-click="beforeNav()" href="/vertical">SECTORS</a>
								<a ng-click="beforeNav()" href="/client">PORTFOLIO</a>
								<a ng-click="beforeNav()" href="/team">Team</a>
								<a ng-click="beforeNav()" href="/contact">contact us</a>
							</div>
							<div class="cright">© 2015 network18 ALL RIGHTS RESERVED. PRIVACY AND TERMS </div>
							<p>REGISTERED OFFICE  First Floor, Empire Complex, 414 Senapati Bapat Marg, Lower Parel, Mumbai-400013, Maharashtra <br>
								Phone: 011 41506112 / 41506114 Fax: 011 41506112 / 41506114</p>

							<p>CORPORATE OFFICE Express Trade Towers, Plot No. 15 & 16, Sector 16A, Noida, Uttar Pradesh 201 301, India. <br>Phone: 0120 - 4341818 / 0120 - 3987777 Fax: 01203053860</p>
						</div>

					</footer>
					
				</div>
			</section>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('.comonbox').fadeIn(1000);
		$(window).unbind('scroll');
		$(document).unbind("mousewheel DOMMouseScroll MozMousePixelScroll");
		$('.share-pno').children('.share-box').removeClass('whiten').css({
			marginBottom: 0,
		});
		$('.pno').css({
			marginBottom: 0,
		});
		var currentIndex=1;
		if ($(window).width()>=1000) {
			$("#pinContainer").onepage_scroll({
			   sectionContainer: "#pinContainer .panel",     
			   easing: "ease",                  
			                       
			   animationTime: 400,             
			   pagination: true,                
			   updateURL: false,                
			   beforeMove: function(index) {
			   		
			   },  
			   afterMove: function(index) {
			   		currentIndex = index;
			   		console.log(index-1);
			   		$('#pinContainer .panel').each(function(){
				    	if ($(this).hasClass('before')) {
				    		$(this).removeClass('before')
				    	}
				    });
			   		if ($('#pinContainer .panel:nth-child('+(index)+')').hasClass('before')) {

			   		}
			   		$('#pinContainer .panel:nth-child('+(index-1)+')').addClass('before');
			   		console.log(index);
			   },   
			   loop: false,
			   keyboard: true,                  
			   responsiveFallback: false,        
			                                    
			                                    
			   direction: "vertical"
			});
		}else{
			$("#pinContainer1").onepage_scroll({
			   sectionContainer: "#pinContainer1 .panel",     
			   easing: "ease",                  
			                       
			   animationTime: 400,             
			   pagination: true,                
			   updateURL: false,                
			   beforeMove: function(index) {
			   		
			   },  
			   afterMove: function(index) {
			   		currentIndex = index;
			   		console.log(index-1);
			   		$('#pinContainer1 .panel').each(function(){
				    	if ($(this).hasClass('before')) {
				    		$(this).removeClass('before')
				    	}
				    });
			   		if ($('#pinContainer1 .panel:nth-child('+(index)+')').hasClass('before')) {

			   		}
			   		$('#pinContainer1 .panel:nth-child('+(index-1)+')').addClass('before');
			   		console.log(index);
			   },   
			   loop: false,
			   keyboard: true,                  
			   responsiveFallback: false,        
			                                    
			                                    
			   direction: "vertical"
			});
		}
		

		setTimeout(function() {
			$('.ctinnerbox, .cbinnerbox, .cbinnerboxP').addClass('addclass');
		}, 1100);
	});
</script>